<!-- 4x4 grid -->
<div class="container gridbox" ng-init="init()">
  <div class="row">
    <div id="pad0" class="col-sm-3 pad" ng-click="trigger(0)"></div>
    <div id="pad1" class="col-sm-3 pad" ng-click="trigger(1)"></div>
    <div id="pad2" class="col-sm-3 pad" ng-click="trigger(2)"></div>
    <div id="pad3" class="col-sm-3 pad" ng-click="trigger(3)"></div>
  </div>

  <div class="row">
    <div id="pad4" class="col-sm-3 pad" ng-click="trigger(4)"></div>
    <div id="pad5" class="col-sm-3 pad" ng-click="trigger(5)"></div>
    <div id="pad6" class="col-sm-3 pad" ng-click="trigger(6)"></div>
    <div id="pad7" class="col-sm-3 pad" ng-click="trigger(7)"></div>
  </div>

  <div class="row">
    <div id="pad8" class="col-sm-3 pad" ng-click="trigger(8)"></div>
    <div id="pad9" class="col-sm-3 pad" ng-click="trigger(9)"></div>
    <div id="pad10" class="col-sm-3 pad" ng-click="trigger(10)"></div>
    <div id="pad11" class="col-sm-3 pad" ng-click="trigger(11)"></div>
  </div>

  <div class="row">
    <div id="pad12" class="col-sm-3 pad" ng-click="trigger(12)"></div>
    <div id="pad13" class="col-sm-3 pad" ng-click="trigger(13)"></div>
    <div id="pad14" class="col-sm-3 pad" ng-click="trigger(14)"></div>
    <div id="pad15" class="col-sm-3 pad" ng-click="trigger(15)"></div>
  </div>
</div>
